@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');



/* start: Globals */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

.avert {
    text-align: center;
    font-size: .75rem;
    line-height: 1rem;
    padding: 3px 0;
}

input#conversation-footer-input {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.conversation-footer-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--slate-700);
}
/* end: Globals */

/* start: Chat */
.chat-section {
    box-shadow: inset 0 160px 0 0 var(--emerald-500);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--slate-100);
}
.chat-container {
    max-width: 1360px;
    width: 100%;
    height: 720px;
    box-shadow: 0 8px 24px -4px rgba(0, 0, 0, .1);
    background-color: var(--white);
    position: relative;
}
/* end: Chat */



/* start: Sidebar */
.chat-sidebar {
    width: 64px;
    background-color: var(--slate-100);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
}
.chat-icon {
    font-size: 28px;
    color: #007bff;
    display: block;
    text-align: center;
    padding: 12px 8px;
    text-decoration: none;
}
.chat-sidebar-menu {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 16px 0;
}
.chat-sidebar-menu > * > a {
    display: block;
    text-align: center;
    padding: 12px 8px;
    font-size: 24px;
    text-decoration: none;
    color: var(--slate-400);
    position: relative;
    transition: color .15s ease-in-out;
}
.chat-sidebar-menu > * > a:hover {
    color: var(--slate-600);
}
.chat-sidebar-menu > .active > a {
    box-shadow: inset 4px 0 0 0 #007bff;
    color: #007bff;
    background: #007bff4a;
}
.chat-sidebar-menu > * > a::before {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: calc(100% - 16px);
    border-radius: 4px;
    transform: translateY(-50%);
    font-size: 13px;
    padding: 6px 12px;
    background-color: rgba(0, 0, 0, .6);
    color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}
.chat-sidebar-menu > * > a:hover::before {
    left: calc(100% - 8px);
    opacity: 1;
    visibility: visible;
}
.chat-sidebar-profile {
    margin-top: auto;
    position: relative;
}
.chat-sidebar-profile-toggle {
    background-color: transparent;
    border: none;
    outline: transparent;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
.chat-sidebar-profile-toggle > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.chat-sidebar-profile-dropdown {
    position: absolute;
    bottom: 100%;
    left: 16px;
    background-color: var(--white);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    list-style-type: none;
    border-radius: 4px;
    padding: 4px 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: left bottom;
    transition: all .15s ease-in-out;
}
.chat-sidebar-profile.active .chat-sidebar-profile-dropdown {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.chat-sidebar-profile-dropdown a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    color: var(--slate-400);
    font-size: 14px;
}
.chat-sidebar-profile-dropdown a:hover {
    background-color: var(--slate-100);
    color: var(--slate-600);
}
.chat-sidebar-profile-dropdown a:active {
    background-color: var(--slate-200);
}
.chat-sidebar-profile-dropdown a i {
    margin-right: 12px;
    font-size: 17px;
}
/* end: Sidebar */



/* start: Content side */
.chat-content {
    padding-left: 64px;
    height: 100%;
    position: relative;
}
.content-sidebar {
    width: 256px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    top: 0;
    left: 64px;
}
.content-sidebar-title {
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
}
.content-sidebar-form-search {
    position: relative;
    padding: 0 16px;
}
.content-sidebar-input {
    padding: 8px 16px;
    background-color: var(--slate-100);
    border: 1px solid var(--slate-300);
    outline: none;
    width: 100%;
    border-radius: 4px;
    padding-right: 32px;
    font-size: 14px;
}
.content-sidebar-input:focus {
    border-color: var(--slate-400);
}
.content-sidebar-submit-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 32px;
    color: var(--slate-400);
    background-color: transparent;
    outline: transparent;
    border: none;
    cursor: pointer;
    transition: color .15s ease-in-out;
}
.content-sidebar-submit-search:hover {
    color: var(--slate-600);
}
.messages-history {
    overflow-y: auto;
    height: 100%;
    margin-top: 16px;
}
.messages-history-list {
    list-style-type: none;
    padding: 8px 0;
}
.messages-history-list > * > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--slate-700);
    padding: 6px 16px;
}
.messages-history-list > * > a:hover {
    background-color: var(--slate-50);
}
.messages-history-list > .active > a {
    background-color: var(--slate-100);
}
.message-history-title {
    margin-left: 16px;
    margin-right: 16px;
    color: var(--slate-400);
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 2px;
    position: relative;
}
.message-history-title > * {
    position: relative;
    z-index: 1;
    padding: 0 4px 0 0;
    background-color: var(--white);
}
.message-history-title::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 0;
    border-bottom: 1px solid var(--slate-300);
    z-index: 0;
}
.message-history-image {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 12px;
}
.message-history-info {
    display: grid;
    margin-right: 12px;
    width: 100%;
}
.message-history-name {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 2px;
}
.message-history-text {
    font-size: 13px;
    color: var(--slate-400);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.message-history-more {
    text-align: right;
}
.message-history-unread {
    font-size: 12px;
    font-weight: 500;
    color: var(--white);
    background-color: #007bff;
    padding: 2px 4px;
    border-radius: 4px;
}
.message-history-time {
    font-size: 12px;
    color: var(--slate-400);
    font-weight: 500;
}
/* end: Content of mesages history side */



/* start: Conversation */
.conversation {
    background-color: var(--slate-100);
    height: 100%;
    padding-left: 256px;
    display: none;
}
.conversation.active {
    display: flex;
    flex-direction: column;
}
.conversation-header {
    padding: 8px 16px;
    background-color: var(--white);
    display: flex;
    align-items: center;
}
.conversation-header-back {
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    color: var(--slate-400);
    margin-right: 12px;
    display: none;
}
.conversation-header-back:hover {
    background-color: var(--slate-100);
    border-radius: 50%;
    color: var(--slate-600);
}
.conversation-header-back:active {
    background-color: var(--slate-200);
}
.conversation-header-user {
    display: flex;
    align-items: center;
}
.conversation-header-user-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}
.conversation-header-user-name {
    font-weight: 550;
    font-size: 20px;
    color: #0f172a;
}
.conversation-header-user-status {
    color: var(--slate-400);
    font-size: 13px;
}
.conversation-header-user-status::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--slate-300);
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px;
}
.conversation-header-user-status.online::before {
    background-color: var(--emerald-500);
}
.conversation-header-buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.conversation-header-buttons > * {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 20px;
    background-color: transparent;
    border: none;
    outline: transparent;
    cursor: pointer;
    color: var(--slate-600);
    margin-left: 4px;
}
.conversation-header-buttons > :hover {
    background-color: var(--slate-100);
    color: var(--slate-700);
}
.conversation-header-buttons > :active {
    background-color: var(--slate-200);
}

.conversation-body {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.conversation-item {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 16px;
}

.conversation-item-side {
    margin-left: 8px;
}
.conversation-item-side {
    margin-right: 8px;
}

.conversation-message {
    padding: 12px 16px 8px;
    background-color: var(--white);
    box-shadow: 0 2px 12px -2px rgb(0 0 0 / 40%);
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
}

.conversation-message {
    background: #007bff;
    color: #fff;
}

.conversation-default {
    align-items: center;
    justify-content: center;
    padding: 16px;
    padding-left: calc(256px + 16px);
    color: var(--slate-400);
}
.conversation-default i {
    font-size: 32px;
}
.conversation-default p {
    margin-top: 16px;
}
/* end: Conversation */

/*Style des messages*/
.conversation-message {
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 80%;
    word-wrap: break-word;
    margin-bottom: 20px;
}
.conversation-message.position {
    align-self: flex-end;
    background-color: #007bff;
    color: white;
}

.response.ai { 
    /**/
}

/* Style général de la barre de messagerie */
.conversation-footer {
    display: flex;
    flex-direction: column;
    padding: 12px;
    background: #ffffff;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0px 7px 6px 3px rgba(0, 0, 0, 0.05);
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    margin: 0 auto 5px;
    border-radius: 25px;
}

/* Zone de texte pour taper un message */
.conversation-footer-input {
    width: 100%;
    padding: 12px 6px;
    border: none;
    font-size: 16px;
    outline: none;
    resize: none; /* Désactive le redimensionnement manuel */
    transition: all 0.3s ease-in-out;
    max-height: 255px; /* Hauteur maximale */
    min-height: 45px; /* Hauteur minimale */
    overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
    margin-bottom: 8px;
    box-sizing: border-box; /* Inclut le padding dans le calcul de la hauteur */
}

/* Conteneur des boutons "Raisonner" et "Rechercher" */
.conversation-footer-button-1 {
    display: flex;
    gap: 10px;
}

/* Boutons "Raisonner" et "Rechercher" */
.btn {
    padding: 8px 15px;
    background: #fff;
    color: black;
    font-size: 14px;
    font-weight: 500;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid rgba(0, 0, 0, .1);
}

.btn:hover {
    background: rgb(0 0 0 / 5%);
    transform: scale(1.05);
    color: black;
}

/* Bouton d'envoi */
.sen-message {
    background: #007bff;
    color: white;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    font-size: 18px;
    transition: background 0.3s ease-in-out, transform 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
}

.sen-message i {
    font-size: 22px;
}

.sen-message:hover {
    background: #007bff;
    transform: scale(1.1);
}

/*Barre de message*/
.conversation-footer-input::-webkit-scrollbar {
    width: 8px;
}

.conversation-footer-input::-webkit-scrollbar-track {
    background: #ebebeb;
    border-radius: 5px; 
}

.conversation-footer-input::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

.conversation-footer-input::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 5px;
}

  /* Style de la scrollbar pour Firefox */

/* Adaptation mobile */
@media (max-width: 768px) {
    .conversation-footer {
        padding: 10px;
    }

    .btn {
        font-size: 13px;
        padding: 7px 12px;
    }

    .sen-message {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
}

/***********************************Sidebar close***************************************/


/* start: Breakpoints */
@media screen and (max-width: 1600px) {
    .chat-container {
        max-width: unset;
        height: 100vh;
    }
}

@media screen and (min-width: 1050px) {
    .conversation-header-user-name {
        font-weight: 550;
        font-size: 20px;
        background-color: red;
    }
}
@media screen and (max-width: 767px) {
    .chat-sidebar {
        top: unset;
        bottom: 0;
        width: 100%;
        height: 48px;
    }
    .chat-icon {
        display: none;
    }
    .chat-sidebar-menu {
        flex-direction: row;
        padding: 0;
    }
    .chat-sidebar-menu > *,
    .chat-sidebar-menu > * > a {
        width: 100%;
        height: 100%;
    }
    .chat-sidebar-menu > * > a {
        padding: 8px;
    }
    .chat-sidebar-menu > .active > a {
        box-shadow: inset 0 4px 0 0 var(--emerald-500);
    }
    .chat-sidebar-profile {
        margin-top: 0;
        display: flex;
        align-items: center;
    }
    .chat-sidebar-profile-toggle {
        width: 32px;
        height: 32px;
    }
    .chat-sidebar-profile-dropdown {
        left: unset;
        right: 16px;
    }

    .conversation,
    .chat-content {
        padding-left: unset;
    }
    .content-sidebar {
        left: unset;
        z-index: 10;
        width: 100%;
    }
    .chat-sidebar-menu > * > a::before {
        left: 50%;
        transform: translateX(-50%);
        bottom: 100%;
        top: unset;
    }
    .chat-sidebar-menu > * > a:hover::before {
        bottom: calc(100% + 8px);
        left: 50%;
    }

    .chat-content {
        position: relative;
        height: calc(100% - 48px);
    }
    .conversation.active {
        position: relative;
        z-index: 20;
    }
    .conversation-header-back {
        display: flex;
    }
    .conversation-default.active {
        display: none;
        padding: 16px;
    }
}
/* end: Breakpoints */